.form {
  display: inline;
  width: 200px;
  justify-content: center;
}

h5 {
  font-family: 'Red Hat Display' !important;
  font-size: 30px !important;
  /* font-weight: 700 !important; */
  /* align-self: baseline; */
}

#header-span {
  color: white;
  background-color: black;
  padding-left: 8px;
  padding-right: 8px;
}

.account-card {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 5px;
}

.account-card span i {
  font-size: 16px;
}

.eur-convert {
  font-size: 8px;
}

.balance {
  font-size: 25px;
  /* font-weight: 700; */
  margin: 0;
  z-index: 2;
}

#euro-span {
  font-size: 25px;
  /* font-weight: 700; */
  margin-left: 2px;
  z-index: 2;
  font-family: 'Red Hat Text';
}

.convert {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.rate {
  margin-top: 8px;
}

#egal-sign {
  font-size: 14px;
  /* font-weight: 700; */
  margin: 0;
  margin-right: 4px;
}

#egal-sign-circle {
  font-size: 14px;
  /* font-weight: 700; */
  margin: 0;
}

#btc-span-small {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-left: 4px;
}


#btc-span {
  font-size: 25px;
  /* font-weight: 700; */
  margin-left: 2px;
  z-index: 2;
  font-family: 'Red Hat Text';
}

.circle-shape {
  width: 120px;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
}

.white-circle {
  /* fill: rgba(255, 255, 255, 0.653); */
  stroke: white;
  stroke-dasharray: 422, 0;
  z-index: 1;
  stroke-width: 5;
  stroke-dashoffset: 48;
  transition: all 2.35s linear;
  transition-duration: 1s;
}

.white-circle-starts {
  stroke-dasharray: 75, 310;
}

.white-circle-ends {
  stroke-dasharray: 422, 0;
}


.white-circle:hover {
  stroke-dasharray: 15, 310;
}

#submit_button{
  margin-top: 8px;
}
