@import url(./sign_in.css);
@import url(./get_amount.css);
@import url(./payment.css);
@import url(./transfer_only.css);
@import url(./transfer_done.css);

body {
  width: 370px;
  height: 480px;
  background: linear-gradient(159.93deg, #FEDA00 11.18%, #FEDA00 76.29%, rgba(254, 218, 0, 0) 71.29%, rgba(254, 218, 0, 0) 71.31%);
  background-position: bottom;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
}

.container{
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 80px;
}

img {
  width: 180px;
}

form {
  display: inline;
  width: 200px;
  justify-content: center;
}

.black-btn {
  width: 200px;
  margin-top: 20px;
  background-color: black;
  border: none;
  padding: 8px 24px;
  color: white;
}

.form-control:focus {
  border-color: rgba(0, 0, 0, 0.452) !important;
  box-shadow: none !important;
}

a:hover {
  text-decoration: none !important;
  color: white;
}

.dashboard{
  color: rgba(0,0,0,0.5);
}

.dashboard:hover {
  color: rgba(0,0,0,1);
}

.signout{
  color: rgba(0,0,0,0.5);
  margin-top: 20px;
  font-size: 12px;
}

.signout:hover {
  color: rgba(0,0,0,1);
}
